<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>family wall</title>
		<link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
	</head>
    <body>
        <div id="connect">
            Hello, {{ user }} !<br>
        </div>
        <a href="{{ url }}">{{ url_linktext }}</a>
        
        <form action="/sign" method="post">
            <div>
                <textarea name="content" rows="4" cols="50" style="background:transparent"></textarea>
            </div>
            <div>
                <input type="submit" value="Post">
            </div>
        </form>
  
	    <div id="book">
		    {% for greeting in greetings %}
		        {% if greeting.author %}
			        <b>{{ greeting.author.nickname }}</b> wrote:
		        {% else %}
		            An anonymous person wrote:
		        {% endif %}
		        <blockquote>{{ greeting.content|escape }}</blockquote>
		    {% endfor %}
	    </div>
    </body>
</html>
