body{
    margin: 0 auto;
    width: 800px;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 10pt;
    background-attachment : fixed;
    background-repeat: no-repeat;
}

body#familywall{
    background-image: url(/background/family.jpg);
    background-position: right bottom ; 
}

body#message{
    background-image: url(/background/gbook.jpg);
    background-position:50% 0%; 
}

div#connect{
	font-family: Arial;
	font-size: 25pt;
}

div#book{
	font-family: Georgia, Verdana, Arial;
	font-size: 12pt;
}

span.date{
    margin-left: 430px;
}

div#textarea > textarea{
    width: 800px;
    height: 100px;
}